@media screen and (max-width:200px){

    .input-group input{
        width: 85px;
    }

    #button-group input{
        width: 110px;
    }

    #div-content p{
        font-size: 0.8em;
    }
    
}

@media screen and (min-width:400px){
    body{
        background-image: linear-gradient(#325f4cc9, #9cd1bb);
    }

    #div-content p{
        font-size: 1em;
        width: 80%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    #button-group{
        margin-top: 15px;
    }
}

@media screen and (min-width:600px){
    .input-group input{
        width: 150px;
    }

    #button-group input{
        width: 160px;
        height: 30px;
    }

    #button-group{
        margin-top: 15px;
    }
}

@media screen and (min-width:850px){
    #back-form{
        display: block;
    }

    section{
        width: 80%;
    }
    
    .input-group input{
        width: 150px;
    }

    #button-group{
        margin-top: 20px;
    }

    #button-group input{
        width: 180px;
        height: 35px;
    }

    #back-form{
        top: 0;
        left: 50%;
        height: 100%;
        width: 50%;
    }

    #div-content{
        width: 50%;
        height: 100%;
        top: 25%;
        left: 25%;
    }

    #div-content p{
        font-size: 1.3em;
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
    }
}