/* Cores utilizadas no desenvolvimento do formulário */

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    position: relative;
    background-color: rgba(33, 49, 32, 0.808);
}

section{
    width: 70%;
    height: 55%;
    margin: auto;
    text-align: center;
    background-color: #96b3a6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px 20px 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.61);
    transition: width .7s, height .7s;
    transition-timing-function: ease-in-out;
}

.input-group input{
    height: 25px;
    padding-left: 7px;
    border-radius: 0 10px 10px 0;
}

#input02{
    margin-top: 10px
}

#back-form{
    display: block;
    width: 100%;
    height: 40%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    background: #96b3a6 url(../imagens/back_form_small.jpg) no-repeat bottom center;
    background-size: cover;
}

#div-content{
    width: 100%;
    height: 60%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
}

#div-content p{
    padding: 0 15px;
    display: block;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px 0;
    text-align: center;
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
}

form{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
}

form img{
    margin-bottom: -8px;
    border-radius: 5px 0 0 5px;
    height: 26px;
}

#button-group input{
    display: block;
    margin: auto;
    width: 140px;
    padding: 3px 0;
    height: 30px;
    margin-top: 10px;
    background-color: rgba(144, 201, 144, 0.575);
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.377);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.377);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.8em;
}

#button-group input:hover{
    cursor: pointer;
    transform: translate(0, -2px);
    transition: all .3s ease-in-out;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.377);
}