@media screen and (orientation:landscape) and (max-height:650px){
    #back-form{
        display: block;
    }

    section{
        width: 80%;
    }
    
    .input-group input{
        width: 150px;
    }

    #button-group{
        margin-top: 20px;
    }

    #button-group input{
        width: 140px;
        height: 35px;
    }

    #back-form{
        top: 0;
        left: 50%;
        height: 100%;
        width: 50%;
        border-radius: 0 20px 20px 0;
    }

    #div-content{
        width: 50%;
        height: 100%;
        top: 0;
        left: 25%;
        margin-top: 0;
    }

    #div-content p{
        font-size: 1.2em;
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
    }

    form{
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }
}

@media screen and (orientation:landscape) and (max-height:600px) and (max-width:800px){
    #div-content p{
        font-size: 1.1em;
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
    }
}

@media screen and (max-height:650px) and (max-width:600px){
    
    #button-group{
        width: 100%;
    }

    #button-group input{
        display: inline-block;
    }
}

@media screen and (max-height:650px) and (max-width:300px){
    section{
        height: 60%;
    }

    #button-group input{
        display: block;
        width: 120px;
    }
}

@media screen and (max-height:580px){
    section{
        width: 60%;
        height: 60%;
    }
    
    form{
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translate(0, -50%);
    }

    #div-content p{
        font-size: 0.9em;
        width: 80%;
        margin: auto;
        margin-bottom: 10px;
    }

    #button-group{
        margin-top: 15px;
    }

    #button-group input{
        height: 30px;
    }

    .input-group input{
        height: 25px;
        width: 110px;
    }
}

@media screen and (max-height:350px), screen and (max-height:250px) and (max-width:750px){    
    section{
        width: 80%;
    }
    
    #div-content{
        width: 60%;
        left: 30%;
    }
    
    #div-content p{
        width: 60%;
    }

    #back-form{
        width: 40%;
        left: 60%;
    }
     
    form{
        width: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .input-group{
        display: inline-block;
    }

    .input-group input{
        width: 100px;
    }

    #button-group{
        margin-top: 10px;
        display: block;
    }

    #button-group input{
        display: inline-block;
        width: 140px;
    }
}

@media screen and (max-height:300px) and (max-width:600px){
    #back-form{
        display: none;
    }

    section{
        width: 50%;
    }

    #div-content{
        width: 100%;
        left: 50%;
    }

    .input-group input{
        width: 80px;
    }

    #button-group input{
        font-size: 0.8em;
        width: 120px;
    }
}